In [1]:
import pandas as pd
import geopandas as gpd
from shapely import ops, geometry

In [2]:
shapes = pd.read_csv(r'gtfs/shapes.txt')

In [3]:
shapes['geometry'] = shapes.apply(lambda x: geometry.Point(x['shape_pt_lon'], x['shape_pt_lat']), 1)

In [4]:
shapes_geom = gpd.GeoDataFrame(shapes)
shapes_geom.head()

,shape_id,shape_pt_lat,shape_pt_lon,shape_pt_sequence,shape_dist_traveled,geometry
0,54078,45.85642,1.26984,0,0.000,POINT (1.26984 45.85642)
1,54078,45.85708,1.26956,1,76.513,POINT (1.26956 45.85708)
2,54078,45.85708,1.26954,2,78.066,POINT (1.26954 45.85708)
3,54078,45.85530,1.26653,3,384.317,POINT (1.26653 45.8553)
4,54078,45.85513,1.26633,4,408.777,POINT (1.26633 45.85513)

In [5]:
shapes_lines = shapes_geom.groupby('shape_id')['geometry'].apply(lambda x: geometry.LineString(list(x)))

In [6]:
to_export = gpd.GeoDataFrame(shapes_lines).reset_index()
to_export.head()

   shape_id                                           geometry
0     54078  LINESTRING (1.26984 45.85642, 1.26956 45.85708...
1     54079  LINESTRING (1.22763 45.8138, 1.22752 45.81387,...
2     54080  LINESTRING (1.27323 45.8342, 1.27289 45.8341, ...
3     54081  LINESTRING (1.22666 45.83523, 1.22669 45.83505...
4     54082  LINESTRING (1.27099 45.8561, 1.27106 45.8559, ...

In [7]:
trips = pd.read_csv(r'gtfs/trips.txt')
trips.head()

,trip_headsign,trip_short_name,direction_id,block_id,wheelchair_accessible,bikes_allowed,route_id,shape_id,trip_id,service_id
0,first trip of the pattern,default,1,default,NaN,NaN,16141,54079,first trip_1,SCO
1,first trip of the pattern,default,1,default,NaN,NaN,16141,54078,first trip_2,SCO
2,"""J. GAGNANT""",NaN,0,NaN,NaN,NaN,16142,54081,884124-2017-2018-M-LàV-Semaine-05,SCO
3,"""LES COURRIERES""",NaN,1,NaN,NaN,NaN,16142,54080,884107-2017-2018-M-LàV-Semaine-05,SCO
4,"""BASTIDE 2""",NaN,0,NaN,NaN,NaN,16143,54083,878449-2017-2018-M-Sam-Samedi-06,SCO

In [8]:
len(trips)

70

In [9]:
len(to_export)

70

In [10]:
to_export = to_export.merge(trips[['route_id', 'shape_id']], on='shape_id')
to_export.head()

   shape_id                                           geometry route_id
0     54078  LINESTRING (1.26984 45.85642, 1.26956 45.85708...    16141
1     54079  LINESTRING (1.22763 45.8138, 1.22752 45.81387,...    16141
2     54080  LINESTRING (1.27323 45.8342, 1.27289 45.8341, ...    16142
3     54081  LINESTRING (1.22666 45.83523, 1.22669 45.83505...    16142
4     54082  LINESTRING (1.27099 45.8561, 1.27106 45.8559, ...    16143

In [11]:
to_export['length'] = to_export.length
to_export_longest = to_export.sort_values('length')
to_export_longest = gpd.GeoDataFrame(to_export_longest.groupby('route_id').first()).reset_index()
to_export_longest.head()

,route_id,shape_id,geometry,length
0,14899,54088,"LINESTRING (1.24571 45.84502, 1.24561 45.84502...",0.201626
1,14904,54094,"LINESTRING (1.26966 45.85717, 1.26953 45.85706...",0.168176
2,14919,54123,"LINESTRING (1.30057 45.87086, 1.29989 45.87181...",0.103762
3,15658,54131,"LINESTRING (1.41997 45.8457, 1.42042 45.8458, ...",0.204135
4,16141,54078,"LINESTRING (1.26984 45.85642, 1.26956 45.85708...",0.093136

In [12]:
to_export.to_file('shp/all_shapes.shp')
to_export_longest.to_file('shp/longest.shp')